{% extends "layout.html" %}

{% block body %}
<title> Drafts | User Panel</title>

{% load static %}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'datatables.css' %}"/>
<script type="text/javascript" src="{% static 'jquery-3.5.1.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dataTables.bootstrap4.min.js' %}"></script>


<div class="container">

    <hr>
    <a href="/add_post" class="btn-sm btn-primary">Add New Post</a>
    <span style="color: white;"> .</span>
    <a href="{% url 'active_post' %}" class="btn-sm btn-primary">Active Post <span class="btn-danger badge">{{ count_active }}</span> </a>
    <span style="color: white;"> .</span>
    <a href="{% url 'pending_post' %}" class="btn-sm btn-primary">Pending Post <span class="btn-danger badge">{{ count_pending }}</span></a>
    <span style="color: white;"> .</span>
    <a href="{% url 'draft' %}" class="btn-sm btn-secondary">Draft <span class="btn-danger badge">{{ count_draft }}</span></a>
    <span style="color: white;"> .</span>

    <a href="{% url 'user_profile' %}" class="btn-sm btn-primary">User Profile</a>
    <span style="color: white;"> .</span>

    {% if request.user.is_superuser %}
    <a href="/dashboard/siteadmin/" class="btn-sm btn-danger">Admin</a>
    {% endif %}
    
    <hr>
  




    {% if messages %}
    {% for message in messages %}
    <div class="container"><div class="alert alert-danger" role="alert" class="{{ message.tags }}"  {% if message.tags %}  {% endif %} > 
      {{ message }} </div></div>
    {% endfor %}
    {% endif %}
    


<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Post Title</th>
                <th>Post Description</th>
                <th>Date</th>
                <th>Image</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for needyamin in draft %}
            <tr>
                <td style="word-break: break-all;"><a href="{% url 'draft_edit' %}?id={{ needyamin.id }}"> {{ needyamin.title }}</a></td>
                <td style="word-break: break-all;">{{ needyamin.contents|striptags|slice:":250" }}</td>
                <td>{{ needyamin.date }} </td>
                <td><img src="media/{{ needyamin.image }}" class="img-thumbnail" width="250px"></td>
                <td> 
                    
                    <a href="" class="tex-primary" data-toggle="modal" data-target="#exampleModalLong{{ needyamin.id }}"> <i class="fa fa-trash" aria-hidden="true"></i></a>
                    <span style="color: white;"> .</span>
                    <a href="{% url 'draft_edit' %}?id={{ needyamin.id }}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalLong{{ needyamin.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
<h2>Confirmation: Are you want to delete these draft?</h2>
<h5>Post: {{ needyamin.title }} </h5>
        </div>
      <div class="modal-footer">
        <a href="{% url 'delete_draft' %}?id={{ needyamin.id }}" class="btn btn-danger" >Delete</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
  </div>         
                
                
                
                </td>
            </tr>
  
            {% endfor %}
        </tbody>
        
    </table>
    
</div>
<script> $(document).ready(function() {
    $('#example').DataTable();
} );</script>


{% endblock %}